.mySwiper {
  max-width: 445px;
  max-height: 86px;
}

.mySwiper .swiper-slide {
  max-width: 65px;
  max-height: 86px;
}

.mySwiper2.swiper-slide img {
  display: block;
  max-width: 65px;
  max-height: 86px;
  object-fit: cover;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  border: 1px solid #a7a7a7;
  border-radius: 10px;

  align-self: center;

  max-width: 445px;
  max-height: 593px;
}

.sliderContainer {
  max-width: 445px;
  max-height: 696px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 1251px) {
  .mySwiper .swiper-slide {
    width: 65px !important;
    height: 86px !important;
  }
  .mySwiper .swiper-slide-thumb-active {
    border: 2px solid #f83600;
  }
}
@media (max-width: 1250px) {
  .mySwiper .swiper-slide {
    width: 7px !important;
    height: 7px !important;
    border-radius: 100%;
    background: #bfc4c9;
  }
  .mySwiper .swiper-slide img {
    display: none;
  }

  .mySwiper .swiper-slide-thumb-active {
    background: #363636;
    width: 9px !important;
    height: 9px !important;
  }
}

@media (max-width: 500px) {
  .mySwiper .swiper-slide {
    width: 7px !important;
    height: 7px !important;
    border-radius: 100%;
    background: #bfc4c9;
    /* margin-right: 40px !important; */
  }
  .mySwiper .swiper-slide-thumb-active {
    background: #363636;
    width: 9px !important;
    height: 9px !important;
  }
}
